<h1>Warenkorb</h1>
<table *ngIf="cart.products.length != 0">
    <thead>
        <tr>
            <th>Produkt</th>
            <th>Einzelpreis</th>
            <th>Anzahl</th>
            <th>Total</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let product of cart.products">
            <td class="infos">{{product.productName}}</td>
            <td class="infos">
                <p *ngIf="product.specialOffer">{{product.specialOffer | number : '1.2-2'}}</p>
                <p *ngIf="product.specialOffer == undefined">{{product.normalPrice | number : '1.2-2'}}</p>
            </td>
            <td class="infos">
                <div>
                    <button (click)="remove(product.id)">-</button>
                    {{product.amount}}
                    <button  (click)="add(product.id)">+</button>
                </div>
            </td>
            <p *ngIf="product.specialOffer">{{product.specialOffer * product.amount | number : '1.2-2'}}</p>
            <p *ngIf="product.specialOffer == undefined">{{product.normalPrice * product.amount | number : '1.2-2'}}</p>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <th>Total</th>
            <th></th>
            <th></th>
            <th>{{cart.total | number : '1.2-2'}}</th>
        </tr>
    </tfoot>
</table>
<button [disabled]="cart.products.length == 0" [routerLink]="['/checkout']">Einkauf Abschliessen</button>